.backtop{
    width: 45px;
    height: 45px;
    background-color: rgba(39, 195, 147, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.backtop .iconfont{
    color: #fff;
    font-size: 30px;
}
.backtop-hidden{
    display: none;
}