.personal-page{
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: scroll;
}
.cover-container{
    width: 100%;
    height: 149px;
    background: url(./img/Cover.png) no-repeat;
    background-size: cover;
}